.main {
    margin: 12px auto;
    
}

.opt_style {
    max-width: 200px;
}

.formTitle, .formObject {
    margin: auto;
}

@media only screen and (max-width: 768px) {
    .formTitle, .formObject {
        margin-top: 12px;
    }

    .marginTop {
        margin-top: 24px;
    }

}

@media only screen and (min-width: 769px) {
    .marginTop {
        margin-top: 12px;
    }

}

.mTop-12 {
    margin-top: 12px;
}

.mSides-12 {
    margin: 0px 12px;
}

.startTile {
    width: 25px;
    height: 25px;
    background-color: #06d6a0;
}

.endTile {
    width: 25px;
    height: 25px;
    background-color: #118ab2;
}

.barrierTile {
    width: 25px;
    height: 25px;
    background-color: #073b4c;
}